.four_box_layout{
  display: block;
  height:285px;
  width:1460px;
  padding:10px 20px;
  margin-bottom: 60px;
}
.four_box_first_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 35px;
    margin-top: 10px;
    padding-left: 10px;
}
.four_box_first_section .p1{
    font-weight: bold;
    font-size: 22px;
    margin-right: 15px;
}
.four_box_first_section .p2{
    font-size: 14px;
    color:#007185;
}
.four_box_second_section{
    display:flex;
    grid-auto-flow: column;
    min-height: 240px;
    width: 100%;
    align-items:center ;
    overflow-x: auto;
}

.four_box_second_section_image{
    display: flex;
    height: auto;
    width:100%;
    justify-content: left;
    align-items: center;
    position: relative;
    scroll-behavior: smoo;
}
@keyframes scroll {
    0%{
        transform:translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
}
.cover_box{
    width:100%;
    position: relative;
    overflow: hidden;
    overflow-x: auto;
}
.four_box{
    display:inline-block;
    padding: 10px;
    display: grid;
}
.asthetic_image{
    height: 100%;
    max-width: 270px;
    max-height: 200px;
    object-fit:cover;
}
.four_box_second_section_image:hover{
  animation: scroll 110s ;
  animation-iteration-count:inherit; 
}
.sponsored{
    display:flex;
    max-height:250px;
    align-items: center;
    justify-content: center;
}
.sponsored{
    width: 100%;
}
.sponsored_image{
    position: relative;
}
.sponsored_text{
    position: absolute;
    bottom:-5;
    right:0;
}